{{> head}}
{{> navbar}}
    <div class="row">
        <div class="col-8">
            <h1>
                Imagen test
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed et commodi dicta ratione, aliquid repellat accusamus dolore tenetur adipisci omnis quibusdam eius, nemo incidunt quas, officia expedita dolorum quaerat? Distinctio?</p>
        </div>
        <div class="col-4">
            <img src="{{imagen}}" alt="Esta es la imagen" class="img-thumbnail">
        </div>
    </div>
{{> footer}}